.padding{
    padding:50px
}

.inputFields{
    font-size: large;
}

.product_backlog{
  background-color: white; /*background color*/
}

.mdl-layout__drawer {
  background-color: #C4D7E0; /*side bar color*/
  color: black;
}

.modal{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 60%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #FCF8E8; /* this doesn't change anything */
}

/* Modal Content/Box */
.modal-content {
    background-color: #E0E0E0; /* this doesn't change anything */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgb(8, 8, 8);
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
    
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}  

.textArea{
    width: 100%;
    height: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-size: small;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: flex-start;
  }

  .header {
    background-color: #C4D7E0; /*top bar color*/
  }

  .card {
    --padding: 1rem;
    background: white;
    border: 1px solid #777;
    border-radius: .25rem;
    overflow: hidden;
  }

  .card1 {
    --padding: 1rem;
    background: RGB(219, 255, 212);
    border: 3px solid #C4D7E0;
    border-radius: .25rem;
    overflow: hidden;
  }

  .card2 {
    --padding: 1rem;
    background: RGB(212, 228, 255);
    border: 3px solid #C4D7E0;
    border-radius: .25rem;
    overflow: hidden;
    /* opacity: 1; */
  }

  .card3 {
    --padding: 1rem;
    background: RGB(255, 212, 213);
    border: 3px solid #C4D7E0;
    border-radius: .25rem;
    overflow: hidden;
  }
  
  .card.card-shadow {
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  }
  
  .card-header {
    font-size: 1.5rem;
    color: black;
    padding: var(--padding);
    padding-bottom: 0;
    margin-bottom: .5rem;
  }
  
  .card-header.card-image {
    padding: 0;
    overflow: hidden;
  }
  
  .card-header.card-image > img {
    display: block;
    width: 100%;
    max-height: 200px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
    transition: 200ms transform ease-in-out;
  }
  
  .card:hover > .card-header.card-image > img {
    transform: scale(1.025);
  }
  
  .card-body {
    font-size: 1.1rem;
    color: black;
    font-family:Calibri;
    padding: 0 var(--padding);
  }
  
  .card-footer {
    margin-top: 1rem;
    padding: var(--padding);
    padding-top: 0;
  }
  
  .btn {
    --color: hsl(200, 50%, 50%);
    background: var(--color);
    color: white;
    border: none;
    font-size: 1rem;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
  }
  
  .btn:hover, .btn:focus {
    background: hsl(200, 50%, 60%);
  }
  
  .btn.btn-outline {
    background: none;
    border: 1px solid var(--color);
    color: var(--color);
  }
  
  .btn.btn-outline:hover, .btn.btn-outline:focus {
    background: hsl(200, 50%, 90%);
  }
  
  .btn + .btn {
    margin-left: .25rem;
  }

  .column_header{
    float: left;
    width: 33.33%;
    column-rule-style: solid;
    column-rule-color: #ff0000;
  }
    
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    column-count: 3;
    column-gap: 40px;
    column-rule: 4px double #ff00ff;
  }


  h4 {
    text-align: center;
    font-size:20px;
  }


